<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head><title>hahhah:-):-P</title></head>
<body>
<mark>username:{{ username }}</mark>
<textarea id="messageTextArea" readonly="readonly" rows="10" cols="45"></textarea></br>
<input type="text" id="messagetext" size="50"/> 
<input type="button" value="Send" onclick="sendmessage();">
<script>
var webSocket = new WebSocket("ws://localhost:8084/jinify-websocket/wsEndpint"); 
    alert(webSocket);

    webSocket.onmessage = function processMessage(message) {
    alert("message");
var jsonData = JSON.parse(message.data);
if (jsonData.message !== null) messaageTextArea.value += jsondata.message +"\n";
}
function sendmessage() {
    var messageText = document.getElementById("messagetext");   
        alert(messageText.value);
        webSocket.send(messageText.value);
                alert(messageText.value);
        messageText.value = ""
}
</script>
</body>
</html>